################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MongoDBExample
/MongoDBExample/.vs/MongoDBExample/v16
/MongoDBExample/.vs/MongoDBExample
/MongoDBExample/MongoDBExample/obj
/MongoDBExample/MongoDBExample/bin/Debug/netcoreapp3.1
